%%inherit(file="/_main.haml")
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='commit_utils', file='./_utils.haml')
-!
    import os
-
    group = repo.account
    prev = repo.git.revparse_single(commit.hex + '^')
    diff = repo.git.diff(prev, commit)

@breadcrumb
    %li
        %a(href=url_for('account', account=repo.account)) &= repo.account.name
    %li
        %a(href=url_for('repo', repo=repo)) &= repo.name
    
    %li
        &= commit.hex[:8]


+repo_utils.media(repo, link=False)
+repo_utils.page_tabs(repo, ref=commit.hex[:8])


+commit_utils.alert(repo, commit)


-
    mode_to_class = {
        '+': 'git-diff-plus',
        '-': 'git-diff-minus',
        ' ': 'git-diff-unchanged',
        '>': 'git-diff-right',
        '<': 'git-diff-left',
        '=': 'git-diff-both',
    }

- for patch in diff:

    .panel.panel-default

        .panel-heading
            &= patch.new_file_path
            = utils.permalink(patch.new_file_path.replace('/', '-'), anchor=True)

        %table.git-diff - for hunk in patch.hunks:

            %tr.git-diff-target
                %td ...
                %td ...
                %td @@ -${hunk.old_lines},${hunk.old_start} +${hunk.new_lines},${hunk.new_start} @@

            -
                old_line = hunk.old_lines
                new_line = hunk.new_lines
            - for mode, line in hunk.lines:
                %tr(class_=mode_to_class[mode])
                    %td.git-diff-lineno - if mode != '+':
                        = old_line
                        - old_line += 1
                    %td.git-diff-lineno - if mode != '-':
                        = new_line
                        - new_line += 1
                    %td.git-diff-content &= mode + line.strip('\n')


