%%inherit(file="/_main.haml")
%%namespace(name='utils', file='_utils.haml')
%%namespace(name='repo_utils', file='repo.haml')
-!
    import os
-
    group = repo.group
    prev = repo.git.revparse_single(commit.hex + '^')
    diff = repo.git.diff(prev, commit)

@breadcrumb
    %li
        %a(href=url_for('group', group=repo.group)) &= repo.group.name
    %li
        %a(href=url_for('repo', repo=repo)) &= repo.name
    
    %li
        &= commit.hex[:8]


+repo_utils.render_card(repo)


%ul.nav.nav-tabs

    %li %a(href=url_for('repo', repo=repo))
        +utils.icon('signal')
        Overview

    %li %a(href=url_for('commits', repo=repo))
        +utils.icon('list')
        Commits

    %li %a(href=url_for('tree', repo=repo, ref='HEAD', path=None))
        +utils.icon('folder-open')
        Files

    %li.active %a(href='#')
        +utils.icon('pencil')
        Diff


@render_card(commit)
    .alert.alert-info.media
        .media-object.pull-left +utils.gravatar(commit.author.email, size=48, class_='img-rounded')
        %code.pull-right &= commit.hex[:8]
        .media-body
            %strong Commit:
            &= commit.message.strip().splitlines()[0]
            %(style='white-space: pre') &= '\n'.join(commit.message.strip().splitlines()[1:])
            %small
                &= commit.author.name
                authored
                &= fuzzy_time(commit.commit_time)
    

+render_card(commit)


-
    mode_to_class = {
        '+': 'git-diff-plus',
        '-': 'git-diff-minus',
        ' ': 'git-diff-same',
        '>': 'git-diff-right',
        '<': 'git-diff-left',
    }

- for patch in diff:

    .panel.panel-default

        .panel-heading
            &= patch.new_file_path
            = utils.permalink(patch.new_file_path.replace('/', '-'), anchor=True)

        %table.git-diff - for hunk in patch.hunks:

            %tr.git-diff-target
                %td ...
                %td ...
                %td @@ -${hunk.old_lines},${hunk.old_start} +${hunk.new_lines},${hunk.new_start} @@

            -
                old_line = hunk.old_lines
                new_line = hunk.new_lines
            - for mode, line in hunk.lines:
                %tr(class_=mode_to_class[mode])
                    %td.git-diff-lineno - if mode != '+':
                        = old_line
                        - old_line += 1
                    %td.git-diff-lineno - if mode != '-':
                        = new_line
                        - new_line += 1
                    %td.git-diff-content &= mode + line.strip('\n')


