%%inherit(file="/_main.haml")/
%%namespace(file="/tree.haml", name="tree_utils")/
%%namespace(file="/blob.haml", name="blob_utils")/
-!
    import itertools
    import pygit2 as git
    from gitbase.utils import debug
-
    head = repo.git.head.get_object()

%ol.breadcrumb
    %li
        %a(href='/') %img(src="/img/git-logo.png")
    %li
        %a(href=url_for('group', group=group)) &= group.name
    %li
        &= repo.name

.media
    %a.pull-left(href='#')
        %img.thumbnail.media-object(src='//robohash.org/%s--%s.png' % (group.name, repo.name), width=96, height=96)
    .media-body
        %h4.media-heading&= repo.name
        %p&= 'No description.'


= tree_utils.render_tree(head.tree)


- if 'README.md' in head.tree:
    -
        entry = head.tree['README.md']
        blob = repo.git[entry.oid]
    = blob_utils.render_blob(blob, 'README.md')


%h2 Recent Commits

-
    commit_iter = repo.git.walk(head.oid, git.GIT_SORT_TOPOLOGICAL)
    commits = itertools.islice(commit_iter, 10)

%ol - for commit in commits:
    %li
        %a(href=url_for('commit', repo=repo, commit=commit.hex[:8]))
            %code= commit.hex[:8]
            &= commit.message

-
    next_ = next(commit_iter, None)
- if next_:
    There are more, starting with
    %code &= next_.hex[:8]

